name: Deploy to Hostinger
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        
      - name: Deploy via SSH
        uses: easingthemes/ssh-deploy@v4
        with:
          ssh-private-key: ${{ secrets.HOSTINGER_SSH_KEY }}
          remote-host: us-imm-web652.main-hosting.eu
          remote-user: u169576704
          remote-port: 65002
          source: "./"
          target: "/home/u169576704/public_html"
